

.cardContainer {
    display: grid;
    grid-template-columns: caaaaaaaaaa;

    padding: 20px;
}
.cardContainer > * {
    flex: 0 0 calc(var(--columns)); /* Use --columns for dynamic sizing */
    max-width: calc(var(--columns)); /* Prevent cards from exceeding their space */
}

.bord{
    display: flex;
    flex-wrap:wrap;
}